<section id="about" class="site-section section-about text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>ACERCA DE</h2>
                <img src="assets/img/lines.svg" class="img-lines" alt="lines">
                <p>{{infoPagina.info.about}}</p>
                <!-- <a href="#" class="btn btn-fill" target="_blank" download>Descargar mi hv</a> -->
            </div>
        </div>
    </div>
</section><!-- /.secton-about -->
