<div id="hero" class="hero">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <br />
                <br />
                <br />
                <div>
                    <img [src]="infoPagina.info.Eslogan" style="width: 100%; height: 100%;" alt="alex-vidal">
                </div>
                <br />
                <br />
                <!-- <h1>Andrés Calderón</h1> -->
                <div class="page-scroll">
                    <!-- <p class="job-title">Desarrollador Full Stack</p> -->
                    <a href="#contact" class="btn btn-fill ">Contáctame</a>
                    <div class="clearfix visible-xxs"></div>
                    <a href="#portfolio" class="btn btn-border">Saber mas</a>
                </div>
            </div>

            <div class="col-md-6 text-right">
                <!-- <img src="assets/img/alex-vidal.png" alt="alex-vidal"> -->
            </div>

        </div>
    </div>
</div><!-- /.hero -->
